[defaults]
interpreter_python = /usr/bin/python3
localhost_warning = false
nocows = true

# No inventory file; the playbook targets the implicit localhost.
[inventory]
inventory_unparsed_warning = false
